{% load static %}

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/loginSystem.css?{% now 'U' %}"/>

<head>
    <title>Login System</title>
</head>
<body>
    {% block content %}
        <h1>Home Page</h1>
        {% if user.is_authenticated %}
            <h1>User: {{ user.get_username }}</h1>
            <div>
                <a class = 'logoutLink' href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
            </div>
        {% else %}
            <div>
                <a class = 'firstItem' href="{% url 'login' %}?next={{ request.path }}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            </div>
        {% endif %}
    {% endblock %}
</body>
</html>